**/target/
**/*.rs.bk
dev-support/
devshell/

Dockerfile
.dockerignore
docker-compose.yml
docker
docs
ci

.git
.gitignore

.envrc
.editorconfig
shell.nix

*.sw[op]

docker-bake.hcl
README.md
LICENSE
taplo.toml
treefmt.toml
flake.nix
flake.lock
